<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- loading font -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,900;1,400&display=swap" rel="stylesheet">
  <!-- loading bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- linking style sheet -->
  <link rel="stylesheet" href="./css/style.css">
  <title>Shortly - Short URLs</title>
</head>
<body>
  <div class="nav-hero-container">
    <section id="navbar">
      <div class="logo-text">
        <h2>Shortly</h2>
      </div>
      <div class="menu">
        <ul>
          <li><a href="#"></a>Features</li>
          <li><a href="#"></a>Pricing</li>
          <li class="button"><a href="#shorten-link-area">Shorten</a></li>
        </ul>
      </div>
    </section>
    
    <section id="hero">
      <div class="hero-content">
        <h2>More than just shortened links.</h2>
        <p class="text">Build your brand's recognition and get detailed insight on how your links are performing.</p>
        <div class="hero-button">
          <p><a href="#shorten-link-area" class="button">Get Started</a></p>
        </div>
      </div>
      <div class="hero-image">
        <img src="./images/hero.svg" alt="Hero Image">
      </div>
    </section>
  </div>

  <section id="shorten-link-area">
    <div class="container-shorten-area">
      <form action="/shortUrls" method="POST">
        <input required type="url" name="fullUrl" id="fullUrl" placeholder="Enter the link...">
        <div class="form-button">
          <button type="submit" class="button">Shorten it!</button>
        </div>
      </form>
    </div>
  </section>

  <section class="link-table">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>

        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
            <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </section>

  <section id="features">
    <h2 class='heading'>Advanced Statistics</h2>
    <div class="features-area">
      <div class="card">
        <div class="card-img-area">
          <img class="card-img" src="./images/icon-brand-recognition.svg" alt="">
        </div>
        <h2>Brand Recognition</h2>
        <p>Boost your brand regonition with each click. Generic links don't mean a thing. Brand links help instil confidence in your content.</p>
      </div>
      <div class="card">
        <div class="card-img-area">
          <img class="card-img" src="./images/icon-detailed-records.svg" alt="">
        </div>
        <h2>Detailed Records</h2>
        <p>Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.</p>
      </div>
      <div class="card">
        <div class="card-img-area">
          <img class="card-img" src="./images/icon-fully-customizable.svg" alt="">
        </div>
        <h2>Fully Customizable</h2>
        <p>Improve brand awareness and content discoverability through customizable links, supercharing audience engagement.</p>
      </div>
    </div>
  </section>

  <section class="unlocking-soon">
    <div class="unlock">
      <p>Full features Unlocking Soon!</p>
    </div>
  </section>

  <footer>
    
    <div class="link-area">
      <p>Check my social profiles:</p>
      <a href="https://www.instagram.com/codingsnap" target="_blank"><img src="./images/icon-instagram.svg" alt="" width="30px"></a>
      <a href="https://www.github.com/rahulk31" target="_blank"><img src="./images/github.svg" alt="" width="30px"></a>
      <a href="https://www.twitter.com/iamtherahulk" target="_blank"><img src="./images/icon-twitter.svg" alt="" width="30px"></a>
      <a href="https://www.linkedin.com/in/devtuber" target="_blank"><img src="./images/linkedin.svg" alt="" width="30px"></a>
    </div>
    <div class="logo-text">
      <h2>Shortly</h2>
      <p>developed by <span><a href="https://www.github.com/rahulk31" target="_blank">Rahul</a></span></p>
    </div>
  </footer>

  
  
</body>
</html>
